<form>
  <div class="form-row align-items-center">
    <div class="col-auto">
      <div class="form-check mb-2 mb-sm-0">
        <label class="form-check-label">
          <input class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
          >
          Saque
        </label>
        <label class="form-check-label">
          <input class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
          >
          Depósito
        </label>
      </div>
    </div>
    <div class="col-auto">
      <label class="sr-only"
        for="inlineFormInput"
      >
        Valor
      </label>
      <input class="form-control mb-2 mb-sm-0"
        id="inlineFormInput"
        type="text"
        placeholder="Valor"
      >
    </div>
    <div class="col-auto">
      <button class="btn btn-primary"
        type="submit"
      >
        Adicionar
      </button>
    </div>
  </div>
</form>
