@import "~assets/styles/settings";

:host {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.table-fake {
  @include position-full();
  display: flex;
  flex-direction: column;

  .text {
    display: flex;
    align-items: center;
    height: 100%;
    padding: .3rem;
  }

  .head {
    .col {
      font-weight: 600;
      border-bottom: 2px solid #e9ecef;
    }
  }

  .body {
    flex-grow: auto;
    flex-shrink: 1;
    overflow-x: hidden;
    overflow-y: auto;

    .row {
      &:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, .025);
      }

      &:hover {
        background-color: rgba(0, 0, 0, .05);
      }
    }

    .col {
      border-top: 1px solid #e9ecef;
    }
  }

  .foot {
    font-weight: 600;
  }
}

.border-left {
  .col {
    &:first-of-type {
      .text {
        border-left: 3px solid $success;
      }
    }
  }

  .text {
    border-left: 3px solid $success;

    @media (min-width: 576px) {
      border-left: none;
    }

    @media (min-width: 576px) and (orientation: landscape) {
      border-left: none;
    }
  }


  &.danger {
    .text {
      border-left-color: $danger !important;
    }
  }
}

.caret {
  cursor: pointer;
  user-select: none;

  &::after {
    opacity: .5;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: middle;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
  }

  &.active {
    &::after {
      opacity: 1;
    }
  }

  &.up {
    &::after {
      transform: rotate(180deg);
    }
  }
}

.sm-show {
  display: inline-block;
  min-width: 3.5rem;

  &.padding {
    padding-left: .3rem;
  }

  @media (min-width: 576px) {
    display: none;
  }

  @media (min-width: 576px) and (orientation: landscape) {
    display: none;
  }
}

.sm-hidden {
  display: none;

  @media (min-width: 576px) {
    display: block;
  }

  @media (min-width: 576px) and (orientation: landscape) {
    display: block;
  }
}
