<div class="table-fake">
  <div class="head sm-hidden">
    <div class="row">
      <div class="col col-3">
        <div class="text caret"
          [ngClass]="{
            'active': sort.by === 'createdAt',
            'up': sort.by === 'createdAt' && sort.up
          }"
          (click)="setSort('createdAt')"
        >
          Data
        </div>
      </div>
      <div class="col col-3">
        <div class="text caret"
          [ngClass]="{
            'active': sort.by === 'type',
            'up': sort.by === 'type' && sort.up
          }"
          (click)="setSort('type')"
        >
          Tipo
        </div>
      </div>
      <div class="col col-3">
        <div class="text caret"
          [ngClass]="{
            'active': sort.by === 'value',
            'up': sort.by === 'value' && sort.up
          }"
          (click)="setSort('value')"
        >
          Valor
        </div>
      </div>
      <div class="col col-3">
        <div class="text">Ações</div>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="row border-left"
      [ngClass]="{
        'danger': order.type === 'withdraw'
      }"
      *ngFor="let order of orders; trackBy: trackOrder;"
    >
      <div class="col col-12 col-sm-3">
        <div class="text">
          <b class="sm-show">Data: </b>{{ order.createdAt | date:'yMd' }}
        </div>
      </div>
      <div class="col col-12 col-sm-3">
        <div class="text">
          <b class="sm-show">Tipo: </b>{{ getOrderType(order.type) }}
        </div>
      </div>
      <div class="col col-12 col-sm-3">
        <div class="text">
          <b class="sm-show">Valor: </b>{{ order.value | currency:'BRL':true }}
        </div>
      </div>
      <div class="col col-12 col-sm-3">
        <div class="text">
          <b class="sm-show">Ações: </b>
          <button class="btn btn-link"
            (click)="onOrderRemove(order.id)"
          >
            remover
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="foot">
    <div class="row">
      <div class="col-6">
        <div class="text">Total em conta:</div>
      </div>
      <div class="col-6">
        <div class="text text-success"
          [ngClass]="{
            'text-danger': total < 0
          }">
          {{ total | currency:'BRL':true }}
        </div>
      </div>
    </div>
  </div>
</div>
