<!-- <table class="table table-sm table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Tipo</th>
      <th scope="col">Valor</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tfoot>
    <td>Total em conta:</td>
    <td>{{ total }}</td>
    <td></td>
  </tfoot>
  <tbody>
    <tr *ngFor="let order of orders; trackBy: trackOrder">
      <td>{{ order.type }}</td>
      <td></td>
      <td>
        <button class="btn btn-link"
          (click)="onOrderRemove(order.id)"
        >
          remover
        </button>
      </td>
    </tr>
  </tbody>
</table> -->

<div class="table-fake">
  <div class="head sm-hidden">
    <div class="row">
      <div class="col col-3">
        <div class="text">Data</div>
      </div>
      <div class="col col-3">
        <div class="text">Tipo</div>
      </div>
      <div class="col col-3">
        <div class="text">Valor</div>
      </div>
      <div class="col col-3">
        <div class="text">Ações</div>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="row"
      *ngFor="let order of orders; trackBy: trackOrder;"
    >
      <div class="col col-12 col-sm-3">
        <div class="text">
          <b class="sm-show">Data: </b>{{ order.createdAt | date:'yMd' }}
        </div>
      </div>
      <div class="col col-12 col-sm-3">
        <div class="text">
          <b class="sm-show">Tipo: </b>{{ getOrderType(order.type) }}
        </div>
      </div>
      <div class="col col-12 col-sm-3">
        <div class="text">
          <b class="sm-show">Valor: </b>{{ order.value | currency:'BRL':true }}
        </div>
      </div>
      <div class="col col-12 col-sm-3">
        <b class="sm-show padding">Ações: </b>
        <button class="btn btn-link"
          (click)="onOrderRemove(order.id)"
        >
          remover
        </button>
      </div>
    </div>
  </div>
  <div class="foot">
    <div class="row">
      <div class="col-6">
        <div class="text">Total em conta:</div>
      </div>
      <div class="col-6">
        <div class="text">{{ total | currency:'BRL':true }}</div>
      </div>
    </div>
  </div>
</div>
