<table class="table table-sm table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Tipo</th>
      <th scope="col">Valor</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Depósito</td>
      <td>100</td>
      <td>
        <button class="btn btn-link">
          remover
        </button>
      </td>
    </tr>
    <tr>
      <td>Saque</td>
      <td>100</td>
      <td>
        <button class="btn btn-link">
          remover
        </button>
      </td>
    </tr>
    <tr>
      <td>Depósito</td>
      <td>100</td>
      <td>
        <button class="btn btn-link">
          remover
        </button>
      </td>
    </tr>
  </tbody>
</table>
