.page {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: auto;

  @media (min-width: 576px) and (orientation: landscape) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  &.page-fixed {
    @include position-full();
    overflow: hidden;

    .container {
      height: 100%;
    }
  }

  .title {
    margin-bottom: 1rem;
    font-size: 1.6rem;

    @media (min-width: 576px) and (orientation: landscape) {
      margin-bottom: .3rem;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
  }
}
